


  <div class="center">
    <%= link_to 'New Gift', new_gift_path, class: "btn btn-lg btn-success btn-lg" %>
  </div>

<br/>
<div id="wrapper">
	<div id="columns">
 <% @gifts.each do |gift| %>
		<div class="pin">
      <h3><%= gift.name %></h3>
			<p><%= link_to cl_image_tag(gift.image, :width => 200, :height => 150, :crop => :fill), gift %></p>
			<p><%= gift.description %></p>
        <p>In <%= gift.location %></p>
        <p><%= link_to 'Show', gift %>
        <%= link_to 'Edit', edit_gift_path(gift) %>
        <%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></p>
		</div>
	 <% end %>	
	
	</div>
</div>